<%- include("./partials/header") %>


<div class="container col-md-6 col-lg-8 mb-5">


	<div class="card justify-content-center mt-5">
		<h1 class="blog-post-title text-center my-3">About YelpCamp</h1>
		<p class="blog-post-meta text-center">April 17, 2020 by <a href="https://www.linkedin.com/in/eric-s-237930122/">Eric S</a></p>
		<div class="card-body">
		<hr class="my-4">
		<p>This is a web application project with RESTful routing from <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">Udemy Web Developer Bootcamp Course</a>.</p>
            
		<p>Website building was finished during <strong><em>covid-19 quarantine</em></strong>.</p>
		<p>Definetly a memorable learning experience.</p>
		<div>
  			<a data-toggle="collapse" href="" data-target="#emailCollapse">Contact Admin</a>
  			<div id="emailCollapse" class="collapse">
				<p>xshao2929@gmail.com</p>
  			</div>
		</div>
		
		<hr class="my-4">
		
		<div class="row">
			<div class="col-md-6">    
				<h2 class="blog-post-title">Tools and Technologies</h2>
				<ul>
					<li class="mb-2">HTML5</li>
					<li class="mb-2">CSS3</li>
					<li class="mb-2">JavaScript</li>
					<li class="mb-2">Bootstrap 4</li>
					<li class="mb-2">NodeJS</li>
					<li class="mb-2">ExpressJS</li>
					<li class="mb-2">goormIDE</li>
					<li class="mb-2">Heroku</li>
					<li class="mb-2">MongoDB Atlas</li>
				</ul>
			</div>

			<div class="col-md-6">
				<h2 class="blog-post-title">Credit To</h2>
				<ul>
					<li class="mb-2">Icon Set: <a href="https://fontawesome.com/">Font Awesome</a></li>
					<li class="mb-2">Birds Animated Backgrounds: <a href="https://www.vantajs.com">Vanta.js</a></li>
					<li class="mb-2">Responsive YouTube Embed: <a href="https://avexdesigns.com/responsive-youtube-embed/">avexdesigns</a></li>
					<li class="mb-2">Seeding Campgrounds' Images: <a href="https://unsplash.com">Unsplash</a></li>
					<li class="mb-2">Seeding Campgrounds' Camping Cost: <a href="https://www.google.com/">Google</a></li>
					<li class="mb-2">Seeding Campgrounds' Descriptions: <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a></li>
					<li class="mb-2">Seeding Campgrounds' Address and Contact: <a href="https://www.google.com/maps">Google Maps</a></li>
				</ul>
			</div>
		</div>	
		
		<hr class="my-4">
		
		<h2 class="blog-post-title mb-5">Thanks for Your Visit</h2>
		<p>Before closing the tab, try this song out. No doubt one of sax fans' favourite! </p>
		<div class="video-container">	
			<iframe width="560" height="315" src="https://www.youtube.com/embed/00nvJv6gno4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>			
		</div>
		
	</div>
</div>

<%- include("./partials/footer") %>
